# Ignorar archivos de respaldo
*~
hyprpaper.conf
# Ignorar archivos de configuración específicos del editor
.vscode/
.idea/

# Ignorar directorios de compilación o dependencias
node_modules/
build/
.env
